<h2>Webshop local market&trade;</h2>

<div class="shop">
  @for (product of products(); track product.id) {
  <app-product-card
    [product]="product"
    (onAddToCart)="addToCart($event)"
  ></app-product-card>
  }
</div>

<div class="cart">
  @for (product of shoppingCart(); track product.id) {
  <div>
    {{ product.name }}
    x
    <input
      type="number"
      [(ngModel)]="product.quantity"
      (change)="updateProductInCart(product)"
    />
    <button
      class="btn-remove"
      (click)="removeFromCart(product.id)"
    >
      -
    </button>
  </div>
  }
  <h3>Total: {{ shoppingCartService.totalPrice() }}$</h3>
  <button (click)="payCart()">Pay for cart</button>
</div>
