<form
  [formGroup]="payDetailsGroup"
  (change)="submitPayDetails()"
>
  <div>
    <label for="firstName">First Name</label>
    <input
      type="text"
      name="firstName"
      formControlName="firstName"
    />
  </div>
  <app-form-error [controlElement]="firstName()" />
  <app-form-error
    [controlElement]="firstName()"
    errorType="minlength"
  />

  <div>
    <label for="lastName">Last Name</label>
    <input
      type="text"
      name="lastName"
      formControlName="lastName"
    />
  </div>
  <app-form-error [controlElement]="lastName()" />
  <app-form-error
    [controlElement]="lastName()"
    errorType="minlength"
  />

  <div>
    <label for="age">Age</label>
    <input
      type="number"
      name="age"
      min="0"
      formControlName="age"
    />
  </div>
  <app-form-error [controlElement]="age()" />
  <app-form-error
    [controlElement]="age()"
    errorType="min"
    errorMessage="Must be at least 18 years old"
  />

  <div>
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      formControlName="email"
    />
  </div>
  <app-form-error [controlElement]="email()" />
  <app-form-error
    [controlElement]="email()"
    errorType="pattern"
    errorMessage="Invalid email!"
  />

  <div>
    <label for="country">Country</label>
    <select
      name="country"
      formControlName="country"
    >
      @for (country of countries; track $index) {
      <option [value]="country">{{ country }}</option>
      }
    </select>
  </div>
  <app-form-error [controlElement]="country()" />

  <div>
    <label for="postalCode">Postal Code</label>
    <input
      type="text"
      name="postalCode"
      formControlName="postalCode"
    />
  </div>
  <app-form-error [controlElement]="postalCode()" />
  <app-form-error
    [controlElement]="postalCode()"
    errorType="minlength"
  />

  <div>
    <label for="street">Street</label>
    <input
      type="text"
      name="street"
      formControlName="street"
    />
  </div>
  <app-form-error [controlElement]="street()" />
  <app-form-error
    [controlElement]="street()"
    errorType="minlength"
  />

  <div>
    <label for="paymentMethod">Payment Method</label>
    <select
      name="paymentMethod"
      formControlName="paymentMethod"
    >
      @for (method of paymentMethods; track $index) {
      <option [value]="method">{{ method }}</option>
      }
    </select>
  </div>
  <app-form-error [controlElement]="paymentMethod()" />

  <div>
    <label
      class="terms-label"
      for="terms"
    >
      <input
        type="checkbox"
        name="terms"
        formControlName="acceptTerms"
      />
      Accept terms and conditions
    </label>
  </div>
  <app-form-error [controlElement]="acceptTerms()" />
</form>
