ul {
  padding-left: 0;
}

li {
  background-color: #eee;
  box-shadow: 2px 2px 0 #ccc;
  display: inline-block;
  color: var(--background-color);
  padding: 2px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.form-add {
  width: max-content;
  margin: 0 auto;
}

.form-add input {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

div {
  width: max-content;
  margin: 0 auto;
}

.completed {
  text-decoration: line-through;
}

.completed-button {
  display: block;
  width: 20em;
  margin: 0 auto;
  margin-top: 10px;
}

.btn-delete {
  background-color: red;
  border-radius: 33%;
}

.btn-delete:hover {
  background-color: rgb(218, 78, 78);
}

.btn-edit {
  background-color: rgb(39, 78, 187);
  color: var(--primary-color);
}

.btn-edit:hover {
  background-color: rgb(50, 93, 211);
}

.btn-cancel {
  background-color: yellow;
  color: var(--background-color);
}

.btn-cancel:hover {
  background-color: rgb(223, 223, 15);
}
