<div class="card">
  <h3>{{ product().name }}</h3>
  <p>{{ product().description }}</p>

  <img
    [src]="imageSource()"
    draggable="false"
    [alt]="product().name"
  />

  <p>{{ product().price }}$</p>

  <span
    id="warning"
    *ngIf="product().quantity <= 10 && !isSoldOut()"
  >
    Only {{ product().quantity }} left!
  </span>

  <button
    (click)="addToCart()"
    [disabled]="isSoldOut()"
  >
    <ng-container
      *ngIf="isSoldOut(); then soldOut; else buyable"
    ></ng-container>
    <ng-template #buyable>Add to cart</ng-template>
    <ng-template #soldOut>Sold out!</ng-template>
  </button>
</div>
