.app {
  height: 100%;
  box-sizing: border-box;
}

.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: minmax(auto, 200px) auto minmax(auto, 200px);
}

main {
  grid-column: 2;
  background-color: #505050;
  border-radius: 8px;
  padding: 6px;
  min-height: 60vh;
}

footer {
  padding: 10px;
  margin-top: auto;
  background-color: #505050;
}

h3 {
  text-align: center;
}
