/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ddd;
  --background-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  margin-right: 4px;
}

a:hover {
  color: #eee;
  box-shadow: 0px 2px 0px var(--primary-color);
}

.active-link {
  color: rgb(39, 134, 165);
  box-shadow: 0px 2px 0px rgb(39, 134, 165);
}

button,
img {
  user-select: none;
}

button {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 6px;
  margin-top: 4px;
  background-color: #232323;
  color: var(--primary-color);
}

button:hover {
  background-color: #454545;
  cursor: pointer;
}

button[disabled] {
  background-color: #404040;
}

button[disabled]:hover {
  cursor: default;
}

input {
  border-radius: 6px;
  color: var(--primary-color);
  background-color: #232323;
  padding: 4px;
  margin-right: 10px;
}

select {
  padding: 0.3em;
  background-color: var(--background-color);
  color: var(--primary-color);
}

input:hover,
select:hover {
  box-shadow: 2px 4px 6px #ccc;
}
