a {
  color: var(--primary-color);
  margin-right: 4px;
}

a:hover {
  box-shadow: 2px 4px 8px #ccc;
}

.btn-delete {
  display: block;
  background-color: red;
  margin-bottom: 10px;
}

.btn-delete:hover {
  box-shadow: 2px 4px 8px #ccc;
}
