<div class="cart">
  @if (!shoppingCart().length) {
  <h3>Shopping cart is empty!</h3>

  <a routerLink="/shop"> Back to shop </a>
  } @for (product of shoppingCart(); track product.id) {
  <div>
    {{ product.name }}
    x
    <input
      type="number"
      [(ngModel)]="product.quantity"
      (change)="updateProductInCart(product)"
    />
    <button
      class="btn-remove"
      (click)="removeFromCart(product.id)"
    >
      -
    </button>
  </div>
  }

  <app-pay-details-forms
    [areDetailsValid]="areDetailsValid()"
    (onDetailsValidityChange)="handleDetailsValidityChange($event)"
  ></app-pay-details-forms>

  <h3>Total: {{ shoppingCartService.totalPrice() }}$</h3>
  <button
    (click)="payCart()"
    [disabled]="!shoppingCart().length"
  >
    Pay for cart
  </button>
</div>
