.cart {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.info {
  margin-top: 3em;
  padding: 2em;
  border-radius: 1em;
  background-color: #444;
}

input {
  display: inline-block;
  width: 30px;
  margin-left: 4px;
  margin-right: 4px;
}

button {
  padding: 10px;
}

.btn-remove {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
  background-color: red;
}

.btn-remove:hover {
  background-color: lightcoral;
}
